version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: nextjs_db
      MYSQL_USER: nextjs_user
      MYSQL_PASSWORD: nextjs_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: nextjs_app
    ports:
      - "3000:3000"
    depends_on:
      - mysql
    environment:
      MYSQL_HOST: mysql
      MYSQL_PORT: 3306
      MYSQL_USER: nextjs_user
      MYSQL_PASSWORD: nextjs_password
      MYSQL_DATABASE_NAME: nextjs_db
    command: >
      sh -c "
      npm install &&
      npx knex migrate:latest --knexfile knexfile.ts &&
      npx knex seed:run --knexfile knexfile.ts &&
      npm run dev
      "

volumes:
  mysql_data:
